html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.searchbar {
    width: 30%;
    position: absolute;
    top: 50%;
    margin-top: -15%;
    left: 50%;
    margin-left: -15%;
    transform: translate(-%50, -%50);
    text-align: center;
}

.logo {
    padding-bottom: 25px;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #cdcbbe;
    border-right: none;
    border-left: none;
    padding: 5px;
    height: 20px;
    outline: none;
    color: #444343;
}

.searchTerm:focus {
    color: #161616;    
}

.voiceSearch {
    width: 40px;
    height: 36px;
    border: 3px solid #cdcbbe;
    background: url(../images/miccursor.png);
    background-repeat: no-repeat;
    background-position: center;
    border-left: none;
    border-radius: 0 16px 16px 0;
    cursor: pointer;
    font-size: 20px;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 3px solid #cdcbbe;
    background: url(../images/srccursor.png);
    background-repeat: no-repeat;
    background-position: center;
    border-right: none;
    border-radius: 16px 0px 0px 16px;
    cursor: pointer;
    font-size: 20px;
}

.feelingLucky{
    width: 400px;
    margin: 35px auto;
}

.feelingLucky button {
    position: relative;
    height: 35px;
    margin: 3px;
    font-weight: normal;
    font-size: 11pt;
    color: gray;
    background: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
    padding: 0 15px;
    overflow: hidden; /*prevents scrollbar to appear even if it's necessary*/
}

.feelingLucky button:hover {
    color: #2c2c2c;
	border: 1px solid #bdbdbd;
    box-shadow: 0px 0.5px 0px 0px #d3d3d3;
    border-radius: 5px 5px 5px 5px;
}

.feelingLucky button:active {
    border: 1px solid #7f7fff;
    border-radius: 5px 5px 5px 5px;
}

.feelingLucky button:focus {
	outline: 0; 
} /*prevents browser to add an ugly permanent blue box around the button after clicking it*/

